@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'open-sans';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1429px;
    margin: 0 auto;
}

:root {
    --animate-duration: 10s;
   --text:#FFFFFF;
   --main:#9D5CD0;
   --focus:#7943A4;
}

.nav-list-link:hover,
.enter:hover,
.hero-nav-item:hover,
.popup-list-link:hover{
    color: #C283F3;
}

.nav-list-link:focus,
.enter:focus,
.hero-nav-item:focus{
    outline: 2px solid var(--focus);
}

.nav-list-link:active,
.enter:active,
.hero-nav-item:active{
    outline: none;
    color:var(--focus);
}

/*Header*/

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    align-items: flex-start;
    margin-left: 160px;
    margin-top: 37px;
    margin-bottom: 25px;

   
}

.nav {
    align-items: center;
    margin-top: 30px;
}

.nav-list {
    display: flex;
    padding: 0px;
    margin-right: 94px
}

.nav-list-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 24,51px;
}

.nav-list-item:not(:last-child){
    margin-right: 64px;
}

.nav-list-link{
    color: var(--text)
}


.enter {
    align-items: flex-end;
    margin-top: 45px;
    margin-right: 152px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    width: 89px;
    height: 29px;
    text-align: center;
    color: var(--text);
    position: relative;
}

.enter img {
    margin-right:  6px;
}

.enter::before{
    content: "";
    position: absolute;
    top: 20%;
    left: 7%;
    right: 0;
    bottom: 0;
    background-image: url('../img/Vector-hover.svg');
    background-repeat: no-repeat;
    opacity: 0;
}

.enter:hover::before{
    opacity: 1;
}

.hero-nav {
    padding-left: 117px;
    width: 100%;
    display: flex;
    background:rgba(0, 0, 0, 40%);
    position: relative;
    z-index: 1;
}

.hero-nav-list{
    margin-top: 17px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.hero-nav-item {
    position: relative;
    font-weight: 400;       
    font-size: 19px;
    line-height: 39px;
    cursor: pointer;
    text-align: center;
    color: var(--text);
}

.hero-nav-item:not(:last-child){
    margin-right: 114px;
}

.hero-nav-item::after{
    content: url('../img/arrow-hero.svg');
    position: absolute;
    top: -5%;
    bottom: 0;
    right: 0;
    left:102%;
}

.hero-nav-item:hover::after{
    content: url('../img/arrow-hero-hover.svg');
    position: absolute;
    top: -5%;
    left: 102%;
    right: 0;
    bottom: 0;
}

.hero-nav-item:focus::after{
    transition-duration: 1500ms;
    transform: rotateX(-180deg);
    bottom: 40%;
    transform-origin: center;
    transition: transform .3s ease-in-out;
}

.popup{
    position: absolute;
    top: 100%;
    left: 150px;
    width: 1050px;
    height: 100px;
    text-align: center;
    background: rgba(0, 0,0,40%);
    opacity: 0;
    transition: opacity .3s ease-in-out;  
}

.hero-nav-item:focus + .popup{
    opacity: 1;
}

  .popup-list-link{
      color: var(--text);
  }


.search {
    margin-left: 217px;
    margin-top: 4px;
    align-items: center;
    width: 267px;
    display: flex;
}

.search-input{
    position: relative;
    background: none;
    border: none;
    width: 218px;
    color: var(--main);
    border-bottom: 1px solid var(--text);
}

.search-input:focus{
    outline: none;
}


.search-input:hover{
    border-bottom: 1px solid var(--main);
}


.search-input::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
}

.search img {
    margin-right: 9px;

}

/*Hero*/

.hero {
    margin-left: 158px;
}

.swiper-container {
    position: absolute;
    min-width: 100%;
    top:108px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 701px;
}

.hero-info{
  position: relative;
   
}

.hero-info-title{
    margin-top: 72px;
    margin-bottom: 17px;
    max-width: 559px;
    font-weight: 700;
    font-size: 77px;
    line-height: 83px;
    color: var(--text);
}

.hero-info-description {
    margin-bottom: 115px;
    max-width: 579px;
    font-weight: 700;
    font-size: 19.1px;
    line-height: 30px;
    color: var(--text);
}

.hero-btn{
    padding: 26px 40px;
    background-color: var(--main);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    color: var(--text);
}

.hero-btn:hover,
.hero-btn:focus {
    border:  3px solid #D1A9F0;
}
.hero-btn:active{
    outline: none;
    border:3px solid #7943A4;
}

/*About*/
.about{
    margin-top: 226px;
    margin-left: 158px;
    margin-bottom: 80px;
}

.Title{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

.about-description {
    max-width: 1080px;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    color: #333333;
}

/*Gallary

.gallary{
    background-image: url('../img/gallary-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-left: 157px;
    padding-bottom: 80px;
}

.white-title{
    color: var(--text);
}

.select{
    
}

.select-choise{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--text);
}

.gallary-select{
    display: block;
    min-width: 400px;
    min-height: 40px;
    background: none;
    color: var(--text);
    border-radius: 6px;
}


.gallary-free{
    margin-top: 476px;
    max-width: 401px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--text);
}*/


