@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans Semi-bold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

:root {
    --animate-duration: 10s;
   --text:#FFFFFF;
   --main:#9D5CD0;
   --hover:#C283F3;
   --focus:#7943A4;
}

.nav-list-link:hover,
.enter:hover {
    color: var(--hover);
    transition: color .3s;
   
}

.hero-nav-item:hover{
    color: var(--main);
    transition: color .3s;
}

.nav-list-link:focus,
.enter:focus,
.hero-nav-item:focus,
.search:focus{
    outline: 2px solid var(--focus);
    transition: outline .3s;
}

.nav-list-link:active,
.enter:active,
.hero-nav-item:active{
    outline: none;
    color:var(--focus);
    transition: color .3s;
}

/*Header*/

.all-side{
 max-width: 100%;
 background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 29px;
}

.nav {
    margin-right: 120px;
    display: flex;

}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.nav-list-item {
    font-family: 'Open Sans Semi-bold';
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
}

.nav-list-item:not(:last-child){
    margin-right: 62px;
}

.nav-list-link{
    color: var(--text);
}

.enter {
    align-self: center;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: var(--text);
    position: relative;
}

.enter::before{
    content: url('../img/Vector.svg');
    position: absolute;
    top: 0;
    left: -44%;
    right: 0;
    bottom: 0;
}

.enter:hover::before{
    content: url('../img/Vector-hover.svg');
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
}

.enter:active::before{
    content: url('../img/Vector-active.svg');
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
}

.under-header{
    background:rgba(0, 0, 0, 40%); 
    position: relative;
    z-index: 1;
}

.hero-nav {
    display: flex;
}

.hero-nav-list{
    padding: 0;
    display: flex;
    flex: 1 1 50%;
}

.hero-nav-item {
    font-weight: 400;       
    font-size: 18px;
    line-height: 39px;
    position: relative;
    font-family: 'Open Sans Regular';
    cursor: pointer;
    text-align: center;
    color: var(--text);
}

.hero-nav-item:not(:last-child){
    margin-right: 113px;
}

.hero-nav-item::after{
    content: url('../img/arrow-hero.svg');
    position: absolute;
    top: -5%;
    bottom: 0;
    right: 0;
    left:102%;
}

.hero-nav-item:hover::after{
    content: url('../img/arrow-hero-hover.svg');
    position: absolute;
    top: -5%;
    left: 102%;
    right: 0;
    bottom: 0;
}

.hero-nav-item:focus::after{
    transform: rotateX(-180deg);
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

.search {

    flex: 1 1 50%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.search-btn{
    margin-right: 9px;
    border: none;
    background: none;
    background-image: url('../img/search.svg');
    width: 22.1px;
    height: 21.62px;
}

.search-input{
    padding-right: 22px;
    position: relative;
    background: none;
    border: none;
    color: var(--main);
    border-bottom: 1px solid var(--text);
}

.search-input:focus,
.search-btn:focus{
    outline: none;
}

.search-btn:hover{
    background-image: url('../img/search-hover.svg');
    transition:  background .3s;
}

.search-input:hover{
    border-bottom: 1px solid var(--hover);
    transition: border .3s;
}


.search-input::placeholder{
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
}

/*Всплывашки*/


.popup{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 330px;
    height: 250px;
    position: absolute;
    top:100%;
    left: 0;
    background: rgba(0, 0,0,40%);
    opacity: 0;
    transition: opacity .5s ease-in-out;  
    overflow: auto;
}

.popup-item{
    padding-top: 9px;
    padding-left: 13px;
    width: 251.6px;
    height: 37.7px;
    text-align: left;
    cursor: pointer;
}

.popup-item:not(:last-child){
   margin-bottom: 18.53px;
}

.popup-link{
    width: 251.6px;
    height: 370.7px;
    font-family: 'Open Sans Semi-bold';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--text);
}

.popup-item:hover{
    outline: 2px solid var(--main);
}

.popup-item:active{
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
    border: 2px solid #D1A9F0;

}

.realizm{
    left: 160px;
}

.tin{
    background-image: url('../img/tinback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.fri{
    background-image: url('../img/friback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.leo{
    background-image: url('../img/leoback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ver{
    background-image: url('../img/verback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.impresion{
    left: 339px;
}

.mon{
    background-image: url('../img/monback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sis{
    background-image: url('../img/sisback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.man{
    background-image: url('../img/manback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ren{
    background-image: url('../img/renback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.postmodern{
    left: 589px;
}

.vangog{
    background-image: url('../img/vangogback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sez{
    background-image: url('../img/sezback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gogen{
    background-image: url('../img/gogenback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sera{

    background-image: url('../img/seraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.avangard{
    left: 890px;
}

.kan{
    background-image: url('../img/kanback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mar{
    background-image: url('../img/marback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mal{
    background-image: url('../img/malback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pik{
    background-image: url('../img/pikback.png');    
    background-repeat: no-repeat;
    background-size: cover;
}

.future{
    left:1094px;
}

.karra{
    background-image: url('../img/karraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.prat{
    background-image: url('../img/pratback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sever{
    background-image: url('../img/seraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.balla{
    background-image: url('../img/ballaback.png');   
    background-repeat: no-repeat;
    background-size: cover;
}



.hero-nav-item:focus + .popup{
    opacity: 1;
}


.simplebar-scrollbar::before {
    background-color: var(--text);
    
}

/*Hero*/

.swiper-container {
    position: absolute;
    max-width: 100%;
    top:103px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 701px;
}

.first-slide {
    background-image: url('../img/swiper1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.second-slide{
    background-image: url('../img/swiper2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.third-slide{
    background-image: url('../img/swiper3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-info{
  position: relative;
   
}

.hero-info-title{
    margin-top: 72px;
    margin-bottom: 17px;
    max-width: 597px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 82.8px;
    color: var(--text);
}

.hero-info-description {
    margin-bottom: 115px;
    max-width: 579px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--text);
}

.hero-btn{
    padding: 20px 32px;
    background-color: var(--main);
    border-radius: 100px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;
    text-align: center; 
    color: var(--text);
    border: 3px solid var(--main);
}

.hero-btn:hover,
.hero-btn:focus {
    border:  3px solid #D1A9F0;
    transition: border .3s;
}
.hero-btn:active{
    outline: none;
    border:3px solid #D1A9F0;

    background-color: #7943A4;
    ;
}

/*About*/
.about{
    margin-top: 226px;
    margin-bottom: 80px;
}

.Title{
    margin-bottom: 16px;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

.about-description {
    max-width: 1080px;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

/*Gallary

.gallary{
    background-image: url('../img/gallary-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-left: 157px;
    padding-bottom: 80px;
}

.white-title{
    color: var(--text);
}

.select{
    
}

.select-choise{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--text);
}

.gallary-select{
    display: block;
    min-width: 400px;
    min-height: 40px;
    background: none;
    color: var(--text);
    border-radius: 6px;
}


.gallary-free{
    margin-top: 476px;
    max-width: 401px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--text);
}*/


