@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans Semi-bold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

:root {
    --animate-duration: 10s;
   --text:#FFFFFF;
   --main:#9D5CD0;
   --hover:#C283F3;
   --focus:#7943A4;
}

.nav-list-link:hover,
.enter:hover {
    color: var(--hover);
    transition: color .3s;
   
}

.hero-nav-item:hover{
    color: var(--main);
    transition: color .3s;
}

.nav-list-link:focus,
.enter:focus,
.hero-nav-item:focus,
.search:focus{
    outline: 2px solid var(--focus);
    transition: outline .3s;
}

.nav-list-link:active,
.enter:active,
.hero-nav-item:active{
    outline: none;
    color:var(--focus);
    transition: color .3s;
}

/*Header*/

.all-side{
 max-width: 100%;
 background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 29px;
}

.burger{
    display: none;
}

.search-adaptive{
    display: none;
}

.search-adaptive-mobile{
    display: none;
}

.is-active {
    display: none;
}

.nav {
    margin-right: 120px;
    display: flex;

}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.nav-list-item {
    font-family: 'Open Sans Semi-bold';
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
}

.nav-list-item:not(:last-child){
    margin-right: 62px;
}

.nav-list-link{
    color: var(--text);
}

.enter {
    align-self: center;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: var(--text);
    position: relative;
}

.enter::before{
    content: url('../img/Vector.svg');
    position: absolute;
    top: 0;
    left: -44%;
    right: 0;
    bottom: 0;
}

.enter:hover::before{
    content: url('../img/Vector-hover.svg');
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
}

.enter:active::before{
    content: url('../img/Vector-active.svg');
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
}

.under-header{
    background:rgba(0, 0, 0, 40%); 
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-nav {
    display: flex;
}

.under-hero-nav {
     padding: 0;
    display: flex;
    flex: 1 1 50%;
}

.hero-nav-list{
   position: relative;
   margin-top: 14px;
   margin-bottom: 17px;
}

.hero-nav-list:not(:last-child){
    margin-right: 113px;
}


.hero-nav-item {
    font-weight: 400;       
    font-size: 18px;
    line-height: 39px;
    font-family: 'Open Sans Regular';
    cursor: pointer;
    text-align: center;
    color: var(--text);
}



.hero-nav-item::after{
    content: url('../img/arrow-hero.svg');
    position: absolute;
    top: -5%;
    bottom: 0;
    right: 0;
    left:102%;
}

.hero-nav-item:hover::after{
    content: url('../img/arrow-hero-hover.svg');
    position: absolute;
    top: -5%;
    left: 102%;
    right: 0;
    bottom: 0;
}

.hero-nav-item:focus::after{
    transform: rotateX(-180deg);
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

.search {

    flex: 1 1 50%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.search-btn{
    margin-right: 9px;
    border: none;
    background: none;
    background-image: url('../img/search.svg');
    width: 22.1px;
    height: 21.62px;
}


.search-input{
    padding-right: 22px;
    position: relative;
    background: none;
    border: none;
    color: var(--main);
    border-bottom: 1px solid var(--text);
}

.search-input:focus,
.search-btn:focus{
    outline: none;
}

.search-btn:hover{
    background-image: url('../img/search-hover.svg');
    transition:  background .3s;
}

.search-input:hover{
    border-bottom: 1px solid var(--hover);
    transition: border .3s;
}


.search-input::placeholder{
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
}

.input-adaptive-close{
    display: none;
}

.form-search-adaptive{
    display: none;
}

.search-input-adaptive{
    display: none;
}

/*Всплывашки*/


.popup{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 330px;
    height: 250px;
    position: absolute;
    top:40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0,0,40%);
    opacity: 0;
    transition: opacity .5s ease-in-out;  
    overflow: auto;
}

.popup-item{
    padding-top: 9px;
    padding-left: 13px;
    width: 251.6px;
    height: 37.7px;
    text-align: left;
}

.popup-item:not(:last-child){
   margin-bottom: 18.53px;
}

.popup-link{
    font-family: 'Open Sans Semi-bold';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--text);
}

.popup-item:hover{
    outline: 2px solid var(--main);
}

.popup-item:active{
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
    border: 2px solid #D1A9F0;

}


.tin{
    background-image: url('../img/tinback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.fri{
    background-image: url('../img/friback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.leo{
    background-image: url('../img/leoback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ver{
    background-image: url('../img/verback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mon{
    background-image: url('../img/monback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sis{
    background-image: url('../img/sisback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.man{
    background-image: url('../img/manback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ren{
    background-image: url('../img/renback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.vangog{
    background-image: url('../img/vangogback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sez{
    background-image: url('../img/sezback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gogen{
    background-image: url('../img/gogenback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sera{

    background-image: url('../img/seraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.kan{
    background-image: url('../img/kanback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mar{
    background-image: url('../img/marback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mal{
    background-image: url('../img/malback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pik{
    background-image: url('../img/pikback.png');    
    background-repeat: no-repeat;
    background-size: cover;
}


.karra{
    background-image: url('../img/karraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.prat{
    background-image: url('../img/pratback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sever{
    background-image: url('../img/seraback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.balla{
    background-image: url('../img/ballaback.png');   
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-nav-item:focus + .popup {
   opacity: 1;
}


.simplebar-scrollbar::before {
    background-color: var(--text);
    
}

/*Hero*/

.hero {
    position: relative;
    z-index: 0;
}

.swiper-container {
    position: absolute;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.first-slide {
    background-image: url('../img/swiper1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.second-slide{
    background-image: url('../img/swiper2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.third-slide{
    background-image: url('../img/swiper3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-info {
    padding-top: 140px;
    padding-bottom: 147px;
}

.hero-info-title{
    margin: 0;
    max-width: 597px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 82.8px;
    color: var(--text);
}

.hero-info-description {
    margin-bottom: 115px;
    max-width: 579px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--text);
}

.hero-btn{
    padding: 20px 32px;
    background-color: var(--main);
    border-radius: 100px;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;
    text-align: center; 
    color: var(--text);
    border: 3px solid var(--main);
}

.hero-btn:hover,
.hero-btn:focus {
    border:  3px solid #D1A9F0;
    transition: border .3s;
}
.hero-btn:active{
    outline: none;
    border:3px solid #D1A9F0;
    background-color: #7943A4;
}

/*About*/
.about{
    margin-top: 80px;
    margin-bottom: 80px;
}

.Title{
    margin-bottom: 16px;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

.about-description {
    max-width: 1080px;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}
@media(max-width:1420px){
    .under-header{
        display: none;
    }

    .nav{
        margin-right: 0;
    }

    .nav-list-item:not(:last-child) {
        margin-right: 30px;
    }
}

@media(max-width:1024px) {

    .container{
        max-width: 963px;
    }

    .nav{
        display: none;
    }

    .enter{
        display: none;
    }

    .under-header{
        display: none;
    }

    .header{
        padding-bottom: 23px;
    }

    .logo{
        margin: 0 auto;
        min-width: 187.6px;
    }
    
    .logo-img{
        width: 100%;
    }

    .burger{
        margin-top: 6px;
        margin-left: 4px;
        display: block;
        min-width: 36px;
        background-image: url('../img/Burger.svg');
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .menu {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 768px;
        background-color: rgba(0,0,0, 90%);

    }


    .closer{
        background-image: url('../img/burger-closer.svg');
        background-repeat: no-repeat;
        width: 29px;
        cursor: pointer;
    }

    .burger-list {
        width: 150px;
        margin-top: 35px;
        margin-bottom: 119px;
        margin-left: 48px;
        padding: 0;
    }

    .burger-item:first-child{
        padding-top: 51px;
    }

    .burger-link {
        margin-top: 51px;
        font-family: 'Open Sans Semi-bold';
        font-size: 24px;
        line-height: 64px;
        color: var(--text);
    }

    .burger-link:active{
        color: var(--focus);
        transition: color .3s;
    }

    .enter-active {
        margin-left: 50px;
        display: inline-block;
        border: 2px solid var(--main);
        border-radius: 100px;
        padding: 19px 88px;
    }

    .enter::before,
    .enter:active::before{
        left:30%;
        top:30%;
    }


    .search-adaptive{
        margin-top: 6px;
        margin-right: 5px;
        margin-left: 5px;
        display: block;
        border: none;
        background: none;
        background-image: url('../img/search1024.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        width: 30px;
    }
    
    .search-adaptive:focus{
        outline: none;
    }


    .form-search-adaptive{
        display: none;
        flex: none;
    }

    .search-input-adaptive {
        display: block;
        padding: 0;
        margin-top: 20px; 
    }

    .hero-info {
        padding-top: 117px;
        padding-bottom: 137px;
    }

    .hero-info-title{
        margin-bottom: 12px;
    }

    .hero-info-description{
        max-width: 720px;
        line-height: 29px;
        margin-left: 3px;
        margin-top: 0;
        margin-bottom: 158px;
    }

    .hero-btn{
        margin-left: 3px;
        padding: 20px 33px;
    }

    .about-description{
        margin-left: 3px;
        max-width: 915px;
    }
}

@media(max-width:768px){
    .container{
        max-width: 710px;
    }

    .header{
        min-height: 100px;
    }

    .search-adaptive{
        margin-left: 8px;
        margin-right: 0;
    }

    .form-search-adaptive{
        margin: 0 auto;
        width: 80%;
    }

    .search-input-adaptive{
        width: 100%;
    }
    
    .input-adaptive-close{
        display: block;
        margin-left: 23px;
        background: url('../img/input-adaptive-close.svg');
        background-repeat: no-repeat;
        min-width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .hero-info {
        padding-top: 115px;
    }

    .hero-info-description {
        margin-left: 4px;
    }

    .hero-btn {
        margin-left: 7px;
    }

    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:593px){

    .hero-info {
        text-align: center;
    }

    .hero-info-title {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-info-description {
        font-size: 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 157px;
    }

    .hero-btn {
        padding: 15px 16px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
}

@media(max-width:320px){  
    
    .container{
        max-width: 305px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header{
        padding: 0;
        min-height: 45px;
    }
    .burger{
       background-image: url('../img/Burger-mobile.svg');
       background-position: center;
       margin-left: 0;
       margin-top: 0;
    }

    .menu {
        height: 355px;
    }

    .closer{
        background-image: url('../img/closer-mobile.svg');
    }

    .burger-list {
        margin-top: 14px;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    .burger-item:first-child{
        padding-top: 20px;
    }

    .burger-link {
        font-size: 16px;
        line-height: 32px;
    }

    .enter-active {
        margin-left: 15px;
        padding: 8px 43px;
    }

    .enter::before,
    .enter:active::before{
        left:19%;
        top:23%;
    }

    .logo{
        background-image: url('../img/logo-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo-img {
        display: none;
    }

    .search-adaptive{
        background-image: url('../img/Search-mobile.svg');
        background-position: center;
        margin-top: 0;
    }

    .form-search-adaptive{
        position: absolute;
        left: 0;
        width: 100%;
        height: 75px;
        background-color: rgba(0, 0, 0, 0.50);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(4px);
        z-index: 1;
    }

    .search-adaptive-mobile{
        display: block;
        background-image: url('../img/Search-mobile.svg');
        width: 16px;
        height: 16px;
        border: none;
        background-color: inherit;

    }

    .search-input-adaptive{
        width: 55%;
    }
    
    .input-adaptive-close{
        background: url('../img/input-adaptive-close-mobile.svg');
        background-repeat: no-repeat;
        margin-left: 40px;
    }

    .hero-info {
        padding-top: 0px;
        padding-bottom: 57px;
    }

    .hero-info-title {
        padding-top: 35px;
        margin-left: 15px;
        margin-bottom: 10px; 
        font-size: 32px;
        line-height: 37px;
        max-width: 267px;
    }

    .hero-info-description {
        margin-left: 17px;
        font-family: 'Open Sans Regular';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        max-width: 265px;
        margin: 0 auto;
        margin-bottom: 52px;
    }

    .hero-btn {
        margin-left: 2px;
        font-size: 12px;
        line-height: 16px;
        padding: 8px 16px;
    }

    .about {
        margin-top: 37px;
    }

    .Title {
        font-size: 28px;
        margin-bottom: 0;
    }

    .about-description {
       margin-left: 2px;
       margin-top: 0px;
        max-width: 290px;
        font-size: 14px;
        line-height: 28px;
    }


}   
